<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Buscar departamento</h1>
    <form method="post">
        {% csrf_token %}
        Id departamento:
        <input type="number" name="cajaid"/>
        <button>Buscar</button>
    </form>
    {% if departamento %}
        <h2> {{departamento.nombre}} - {{departamento.localidad}}  </h2>
    {% endif %}
</body>
</html>