<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/insertdept">Create new</a><br/>
    <a href="/updatedept">Update departamento</a>
    <h1 style="color:blue">Lista de departamentos</h1>
    <table border="1">
        {% for d in departamentos %}
            <tr>
                <td> {{d.id}} </td>
                <td> {{ d.nombre }} </td>
                <td> {{ d.localidad }} </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>