<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Empleados departamentos</h1>
    <form method="post">
        {% csrf_token %}
        Seleccione departamento
        <select name="cajaiddept">
            {% for d in departamentos %}
                <option value="{{d.id}}">
                    {{d.nombre}}
                </option>
            {% endfor %}
        </select>
        <button>Buscar empleados</button>
    </form>
    <table border="1">
        {% for emp in empleados %}
            <tr>
                <td>{{emp.idEmpleado}}</td>
                <td>{{emp.apellido}}</td>
                <td>{{emp.oficio}}</td>
                <td>{{emp.salario}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>