<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update</h1>
    <a href="/departamentos">Ir a Departamentos</a>
    <form method="post">
        {% csrf_token %}
        Id departamento:
        <input type="number" name="cajaid" value="{{departamento.id}}"/><br/>
        Nombre: 
        <input type="text" name="cajanombre" value="{{departamento.nombre}}"/><br/>
        Localidad:
        <input type="text" name="cajalocalidad" value="{{departamento.localidad}}"/><br/>
        <button>Modificar</button> 
    </form>
</body>
</html>