<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "paginas/menu.html" %}
    <h1>Comics</h1>
    <form method="post">
        {% csrf_token %}
        Seleccione un Comic:
        <select name="selectcomic">
            {% for comic in listacomics %}
                <option value="{{comic.index}}">
                    {{comic.titulo}}
                </option>
            {% endfor %}
        </select>
        <button>Ver comic</button>
    </form>
    <h1>{{comic.titulo}}</h1>
    <img src="{{comic.imagen}}"/>
</body>
</html>